:root {
    /* variables css*/
    --color-white: #ffffff;
    --color-gold: #E9D56F; 
    --color-grey-1: #333333;
    --color-grey-2: #272626;
    --color-black: #000000;

    /*10 pixels (100% = 16 pixels)*/
    font-size: 62.5%; 
}

@font-face {
    font-family: 'Italianno';
    src: url('../font-italianno/italianno-v10-latin-regular.woff'); 
}

@font-face {
    font-family: 'Sintony';
    src: url('../font-sintony/Sintony-Regular.ttf'); 
}

body {
    background: var(--color-white);
    margin: 0 0 0 0 !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

span{
    font-family: Sintony;
    font-size: 1.3rem;
}

input {
    border: 2px solid var(--color-grey-2);
}

select {
    border: 2px solid var(--color-grey-2);
}

.page-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-field{
    height: 1rem;
    width: 40vw;
    margin: 1rem;
    padding: 1rem 
}

.form-select{
    height: 3.5rem;
    width: 30vw;
    margin: 1rem;
}

.form-text-area{
    border: 2px solid var(--color-grey-2);
    border-radius: 4px;
    height: 6rem;
    width: 40vw;
    margin: 1rem;
    padding: 1rem;
}

.form-btn{
    border: 2px solid var(--color-grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    height: 3.5rem;
    width: 15rem;
    margin: 1rem;
    cursor: pointer;
}

/* for testing */

.test-border{
    border: 1rem solid coral;
}
/* for testing */


.flex-container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.sepContainer{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;  
}

.logo-container{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color:white;
    font-size: 2rem;
}

.logo{
    height: 10rem;
    width: 10rem;
}

.nav-bar{
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    color:white;
    font-size: 2.5rem;
}

.nav-text{
    font-size: 1.9rem;
}

.nav-btn {
    margin: .5rem;
    align-content: center;
    justify-content: center;
}

.titulo1 {
    filter: brightness(100%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 15rem;
    margin: 0; 
}

.titulo2 {
    filter: brightness(98%);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 8rem;
    margin: 0; 
}

.subtitulo1 {
    filter: brightness(100%);
    color: var(--color-white);
    font-family: Sintony;
    font-style: normal;
    letter-spacing: 0.17em;
    font-size: 2rem;
    margin: 0;
}


.subtitulo2 {
    font-family: Sintony;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
}

.paragrafo {
    color: var(--color-grey-1);
    font-family: Sintony;
    text-justify: auto;
    width: 78%;
    margin: 0;
}

.paragrafo-center {
    color: var(--color-grey-1);
    font-family: Sintony;
    text-align: center;
    width: 50%;
    margin: 1rem;
}

.white{
    color: #FFFFFF;
}

.social-icons-corner{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 1rem;
    color:white;
    font-size: 2rem;
    filter: brightness(100%);
    visibility: hidden;
}

.social-icons-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(100%);
    margin: 3rem;
}

/* --- ICONS STYLE --- */

.icon-white g {
    fill: #ffffff;
}
.icon-white path {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: .1px;
}
.icon-white-gold path {
    fill: #ffffff;
    stroke: var(--color-gold);
    stroke-width: .08rem;
}

.icon-black g {
    fill: #0f0f0f;
}
.icon-black path {
    fill: #0f0f0f;
    stroke: #0f0f0f;
    stroke-width: .1px;
}
.icon-black path {
    fill: #0f0f0f;
    stroke: #0f0f0f;
    stroke-width: .1px;
}
.icon-black-gold path {
    fill: #0f0f0f;
    stroke: var(--color-gold);
    stroke-width: .1rem;
}

.icon-small{
    height: 4rem;
    width: auto;
    margin: 0.5rem;
}

.icon-medium{
    height: 6rem;
    width: auto;
    margin: 1rem;
}

.icon-large{
    height: 8rem;
    width: auto;
    margin: 1rem;
}

/* --- ICONS STYLE --- */

.pula-linha {
    margin: 0 0 0 0; 
}

@media (max-width: 400px) {
    :root {
        font-size: 40%;
    }
}

@media (min-width: 401px) {
    :root {
        font-size: 50%;
    }

    .social-icons-corner{
        visibility: visible;
    }

}

@media (max-width: 700px) {

    .form-field{
        height: 3rem;
        width: 60vw;

    }
    
    .form-select{
        height: 6rem;
        width: 40vw;
    }

    .form-text-area{
        height: 7rem;
        width: 60vw;
    }

    .titulo1 {
        font-size: 13rem; 
    }

    .btn1-out{
        height: 20vw !important;
        width: 20vw !important;
    }

    .btn1-back{
        height: 20vw !important;
        width: 20vw !important;
    }

    .btn1-in{
        height: 17vw !important;
        width: 17vw !important;
    }

    .btn1-icon{
        height: 10vw !important;
        width: 10vw !important;
    }

    .btn1-leg{
        font-size: 2.5vw !important;
    }
}



@media (max-width: 768px) {

    .nav-btn {
        margin: 2rem 0 0 4rem;
    }

    .nav-text{
        font-size: 3rem;
    }
   
}

@media (min-width: 700px) {
    :root {
        font-size: 60%;
    }
}

@media (max-width: 999px) {
    .titulo2{
        font-size: 9rem;
    }

    .logo{
        visibility: hidden;
    } 
    
    /* .nav-bar{
        visibility: hidden;
    }  */
}


@media (min-width: 1000px) {
    :root {
        font-size: 70%;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 75%;
    }
}

@media (min-width: 2000px) {
    :root {
        font-size: 180%;
    }
}
