:root {
    /* variables css*/
    --color-white: #ffffff;
    --color-gold: #E9D56F; 
    --color-grey-1: #333333;
    --color-grey-2: #333333;
    --color-black: #000000;

    /*10 pixels (100% = 16 pixels)*/
    font-size: 62.5%; 
}

body {
    background: var(--color-white);
}


@media (min-width: 700px) {
    :root {
        font-size: 100%;
    }
}
