:root {
    /* variables css*/
    --color-white: #ffffff;
    --color-gold: #E9D56F; 
    --color-grey-1: #333333;
    --color-grey-2: #333333;
    --color-black: #000000;

    /*10 pixels (100% = 16 pixels)*/
    font-size: 62.5%; 
}

@font-face {
    font-family: 'Italianno';
    src: url('../font-italianno/italianno-v10-latin-regular.woff'); 
}

@font-face {
    font-family: 'Sintony';
    src: url('../font-sintony/Sintony-Regular.ttf'); 
}

body {
    background: var(--color-white);
    margin: 0 0 0 0 !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

span{
    font-family: Sintony;
    font-size: 1.3rem;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

.sepContainer{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;  
}

.logo-container{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color:white;
    font-size: 2rem;
}

.logo{
    height: 8rem;
    width: 8rem;
}

.nav-bar{
    /* teste */
    display: flex;
    position: absolute;
    top: 0;
    right: 0.75rem;
    color:white;
    font-size: 2rem;
}

.titulo1 {
    filter: brightness(100%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 13rem;
    margin-bottom: -5rem; 
}

.subtitulo1 {
    filter: brightness(100%);
    color: var(--color-white);
    font-family: Sintony;
    font-style: normal;
    letter-spacing: 0.17em;
    font-size: 2rem;
    margin: 0;
}

.titulo2 {
    filter: brightness(98%);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 7rem; 
    margin: 3rem 0 0 0;  
}

.subtitulo2 {
    font-family: Sintony;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    margin: 0 0 0 0; 
}

.paragrafo {
    color: #4f4f4f;
    font-family: Sintony;
    text-justify: auto;
    width: 78%;
}


@media (max-width: 400px) {
    :root {
        font-size: 40%;
    }
}

@media (min-width: 401px) {
    :root {
        font-size: 45%;
    }
}


@media (min-width: 700px) {
    :root {
        font-size: 60%;
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: 80%;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 100%;
    }
}

@media (min-width: 2000px) {
    :root {
        font-size: 200%;
    }
}
