.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-grey-1);
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: left;
}

.card h1 {
    margin: 1rem;
}

.card p {
    color: var(--color-black);
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: .5rem;
}