
h2 {
    filter: brightness(98%);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 7rem; 
    margin: 3rem 0 0 0;   
}

p {
    filter: brightness(97%);
    color: var(--color-white);
    font-family: Sintony;
    font-style: normal;
    font-size: 1.6rem;  
    margin: 1.5rem 0 2rem 0;
}

.black-container {
    background-color: #272626;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.pula-linha {
    margin: 0 0 0 0; 
}

@media (min-width: 700px) {


}