.img-container{
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-image: url('../../assets/images/m-header-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.filter{
    display: flex;
    filter: opacity(50%);
    position: absolute;
    width: 98.7vw;
    height: 55vh;
    background-color: black;
}

.separator {
    filter: brightness(97%);
    color: var(--color-white);
}

.img-container .sepContainer{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 0.5vh;
    align-items: center;
    justify-content: center;  
}

.social-icons{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 1rem;
    color:white;
    font-size: 2rem;
    filter: brightness(100%);
    visibility: hidden;
}

.social-icons .item{
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}



@media (min-width: 500px) {

    .img-container{
        height: 100vh;
        background-image: url('../../assets/images/web-header-back.jpg');
    }
    
    .filter{
        height: 100vh;
    }

    .social-icons{
        visibility: visible;
    }


}
