:root {
    /* variables css*/
    --color-background: #F0F0F7; 
    --color-text: #00000a; 

    /* Regular font size: 16px - 100% - 1rem */
    font-size: 60%;
}

/* apply to many elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh; 
}

span{
    color: rgb(241, 15, 15);
}

body {
    background: var(--color-background);
}


@media (min-width: 700px) {
    :root {

    }

    span {
        font-size: 500%;
    }
}
