/* @font-face {
    font-family: 'Italianno';
    src: url('https://fonts.googleapis.com/css?family=Italianno');
} */

@font-face {
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font-italianno/italianno-v10-latin-regular.woff'); 
}

.img-container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-image: url('../assets/images/m-header-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
}

.filter{
    filter: opacity(25%);
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: black;
}

.img-container .title{

    filter: brightness(98%);
    color: var(--color-gold);
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 10rem; 
    margin: 1.5rem 0 0 0;   
}

.img-container .subtitle{
    filter: brightness(97%);
    color: var(--color-white);
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    margin: -3rem 0 0 0;    
}

.img-container .separator{
    filter: brightness(97%);
    color: var(--color-white);
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    margin: 4rem 0 0 0;    
}